asgiref
certifi
charset-normalizer
cloudinary
crispy-bootstrap5
dj-database-url
Django
django-cloudinary-storage
django-crispy-forms
gunicorn
idna
Pillow
psycopg2
requests
six
sqlparse
tzdata
urllib3
whitenoise
